<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xu.mvc.dao.UserDao">
    <select id="getUserById" resultType="com.xu.mvc.pojo.User" parameterType="int">
        SELECT
            `id`,
            `username`,
            `birthday`,
            `sex`,
            `address`
        FROM
            `user`
        WHERE id = #{id2}
    </select>



</mapper>